:root {
  --dark: #2f3d49;
  --dark-two: #1b252d;
  --code-green: #46ffaa;
  --health-blue: #6db2ff;
  --white: #ffffff;
}

.w3-dark {color:#fff !important; background-color:#2f3d49 !important}
.w3-text-dark {color:#2f3d49 !important}

.w3-text-dark-two {color:#1b252d !important}

.w3-code-green {color:#000 !important; background-color:#46ffaa !important}

.w3-text-health-blue {color:#6db2ff !important}

.w3-text-white {color:#ffffff !important}