.ev-about {
    background-image: url("../images/ev-group.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-color: var(--dark-blue);
    background-size: 500px 300px;
}
.ev-about-h2 {
    width: 609px;
    height: 63px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
}
.ev-about-text {
    width: 609px;
    height: 165px;
    font-family: Muli;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--white);
}