.ev-connect {
    background-image: url("../images/ev-connect.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: var(--dark-two);
}

.ev-connect-form{
    width: 613px;
    height: 586px;
}
.ev-connect-h2 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.ev-connect-text {
    width: 609px;
    height: 191px;
    font-family: Muli;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--white);
}
.ev-connect-label {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
}

.ev-connect-button {
    background-color: var(--code-green);
    width: 194px;
    height: 50px;
    font-color: var(--dark);
}