html {
    font-size: 62.5%;
}

body {
    background-color: var(--dark-two);
    color: var(--white);
}

/*
 * NAV
 */

.nav {
    margin-top: 21px;
    border-bottom: 3px solid gray;
}

.nav__logo {
    width: 331px;
    height: 89px;
    /*width: 30rem;*/
    /*float: left;*/
    /*padding-right: 10px;*/
    /*margin-top: 21px;*/
}

.nav__menu {
    /*padding-top: 21px;*/
}

.nav__item {
    height: 16px;
    text-decoration: none;
    font-size: 2.0rem;
    text-align: center;
    margin-right: 12px;
    line-height: 90px;
    width: 89px;
}

/*
 * CORE PRACTICES
 */

.core-practices {
    margin-top: 40px;
}

.core-practices__item {
    margin-top: 18px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--code-green);
}

/*
 * CALLOUT
 */

.callout {
    background-color: #3c5797;
    color: #ffffff !important;
    padding: 6.4rem 4.7rem;
    font-family: Muli;
    font-size: 1.6rem;
}

.callout__title {
    font-family: Roboto;
    font-size: 4rem;
    font-weight: bold;
}

/*
 * VALUE
 */

.value__title {
    font-weight: bold;
    margin-bottom: 0;
}

.value__text {
    margin-top: 0;
    margin-bottom: 0;
}

/*
 * FOOTER
 */

.ev-footer {
    width: 1024px;
    height: 312px;
    background-color: #209d75;
}

.ev-connect-img {
    height: 79.9rem;
    border: 1px solid red;
}

.ev-footer-image {
    width: 120px;
    height: 120px;
}

.screenwidth {
    width: 100%;
    margin: auto;
}

@media only screen and (min-width: 1024px) {
    .screenwidth {
        width: 1024px;
    }
}

