.slogan__overaly {
    background: #302f30;
}

.slogan {
    background-image: linear-gradient(45deg, var(--code-green), var(--health-blue));
    display: inline-block;
    font-family: Roboto;
    font-size: 7.0rem;
    line-height: 1.1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan__line2 {
    margin-left: 100px;
}

.slogan__line3 {
    margin-left: 200px;
}

.slogan__image {
    width: 38rem;
    height: 41rem;
    position: absolute;
    top: -122px;
    left: 300px;
}



