.slogan__overaly {
    background: #302f30;
}

.slogan {
    background-image: linear-gradient(45deg, var(--code-green), var(--health-blue));
    display: inline-block;
    font-family: Roboto;
    font-size: 5.0rem;
    line-height: 1.1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 900px) and (orientation: landscape)  {
    .slogan {
        font-size: 3.0rem;
    }
}


.slogan__line2 {
    margin-left: 100px;
}

.slogan__line3 {
    margin-left: 200px;
}
