<!DOCTYPE html>
<html lang="en">
<head>
  <title>EarthVectors</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
  <link rel="stylesheet" href="external/fonts/icomoon/style.css">
  <link rel="stylesheet" href="external/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="external/stylesheets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="external/stylesheets/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="external/stylesheets/css/aos.css">
  <link rel="stylesheet" href="external/stylesheets/css/style.css" />
  <link rel="stylesheet" href="stylesheets/w3.css" />
  <link rel="stylesheet" href="stylesheets/colors.css" />
  <link rel="stylesheet" href="stylesheets/slogan.css" />
  <link rel="stylesheet" href="stylesheets/nav.css" />
  <link rel="stylesheet" href="stylesheets/content.css" />
  <link rel="stylesheet" href="stylesheets/footer.css" />
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner" id="home-section">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-xl-2">
          <h1 class="mb-0 site-logo">
            <a href="/#home" class="text-black h2 mb-0"><img class="nav__logo" src="images/ev-logo-color.svg" alt="EarthVectors" /></a>
          </h1>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="#home-section" class="nav-link">Home</a></li>
              <li><a href="#about-section" class="nav-link">About Us</a></li>
              <li><a href="#values-section" class="nav-link">Values</a></li>
              <li><a href="#team-section" class="nav-link">Team</a></li>
              <li><a href="#services-section" class="nav-link">Services</a></li>
              <li><a href="https://medium.com/earthvectors" target="_blank">Blog</a></li>
              <li><a href="#contact-section" class="nav-link">Contact</a></li>
            </ul>
          </nav>
        </div>

        <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;">
          <a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
        </div>

      </div>
    </div>
  </header>


  <div class="site-blocks-cover overlay slogan__overlay" data-aos="fade">
    <div class="container">
      <div class="row align-items-center">
          <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-1">
              <div class="slogan w3-hide-small">
                <span class="slogan__line1">Engage</span>
                <br />
                <span class="slogan__line2">Explore</span>
                <br />
                <span class="slogan__line3">Evolve</span>
              </div>
              <div class="slogan w3-hide-medium w3-hide-large">
                <span class="slogan__line1">Engage</span>
                <br/>
                <span class="slogan__line1">Explore</span>
                <br/>
                <span class="slogan__line1">Evolve</span>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section" id="about-section">
    <div class="container">
      <div class="row align-items-lg-center">
        <div class="col-md-6 mb-5 mb-lg-0 position-relative">
          <img src="external/images/about_1.jpg" class="img-fluid" alt="Image">
          <div class="experience">
            <span class="year">100 years</span>
            <span class="caption">of combined experience</span>
          </div>
        </div>
        <div class="col-md-5 ml-auto">
          <h2 class="section-title mb-3">Welcome To EarthVectors</h2>
          <p class="mb-4">The EarthVectors core team brings nearly 100 years of software engineering experience and 30
            years of experience in the healthcare domain.</p>
          <p class="mb-4">Our former clients and employers span a wide range of business sizes, stages, and domains. We
            have helped for-profit and not-for-profit organizations create immense value.</p>
          <p class="mb-4">We are experts in full stack engineering, software development practices, and business
            analysis. We have expertise in product management, project management, IT operations, DevOps, and data
            science. We pride ourselves on craftsmanship tempered with pragmatism.</p>
          <p class="mb-4">Our mission is to create happiness and prosperity through common sense engineering and
            business processes.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="site-section border-bottom" id="team-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Our Team</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <div class="person text-center">
            <img src="external/images/lew_hex.jpg" alt="Image" class="img-fluid w-50 mb-2">
            <h3>Lew Parker</h3>
            <p class="position text-muted">President, Distinguished Engineer</p>
            <p class="mb-4">Over the last 20 years, Lew has delivered software in a wide range
              of technologies and industries. Lew has an MBA and MSIS from Boston University.</p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/parkerl/" target="_blank"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <div class="person text-center">
            <img src="external/images/kim_hex.png" alt="Image" class="img-fluid w-50 mb-2">
            <h3>Kim Hendrick</h3>
            <p class="position text-muted">Distinguished Engineer</p>
            <p class="mb-4">Kim has over 20 years of experience as a software engineer,
              team lead, and manager. Kim holds a degree in Computer Science from the College of Great
              Falls.</p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/kimdhendrick/" target="_blank"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
          <div class="person text-center">
            <img src="external/images/david_hex.png" alt="Image" class="img-fluid w-50 mb-2">
            <h3>David Madouros</h3>
            <p class="position text-muted">Distinguished Engineer</p>
            <p class="mb-4">David has more than 20 years of software experience working with a
              variety of team and business sizes -- everything from 10-person startups
              to Fortune 25 companies as a Software Engineer, Team Lead, and Manager.</p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/david-madouros-a8bb938/" target="_blank"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 30px">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <div class="person text-center">
            <img src="external/images/andrew_hex.png" alt="Image" class="img-fluid w-50 mb-2">
            <h3>Andrew Courter</h3>
            <p class="position text-muted">Principal Engineer</p>
            <p class="mb-4">Andrew has over 10 years of experience as a software engineer, team
              lead, and software consultant. Andrew earned a MS and BS in Computer Science from
              Texas Tech University.</p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/andrew-courter-79126836/" target="_blank"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <div class="person text-center">
            <img src="external/images/joe_hex.png" alt="Image" class="img-fluid w-50 mb-2">
            <h3>Joe Santini</h3>
            <p class="position text-muted">Principal Engineer</p>
            <p class="mb-4">Joe has more than 10 years of experience working with a wide variety of
              software architectures, from monoliths to complex microservices. Joe earned a MS in Systems Design and BS in Computer Science.</p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/joesantini/" target="_blank"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
          <div class="person text-center">
            <img src="external/images/mihir_hex.png" alt="Image" class="img-fluid w-50 mb-2">
            <h3>Mihir Parikh</h3>
            <p class="position text-muted">Senior Engineer</p>
            <p class="mb-4">For the past five years Mihir has focused on developing software addressing
              issues in clinical data collection, social determinants of health, and healthcare reporting. He
              is pursuing a Masters in Data Science.</p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/mihirsparikh/" target="_blank"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="values-section" id="values-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Core Values</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class=" box-with-humber">
            <h2 class="text-black">Agility</h2>
            <p class="mb-4">
              We adhere strongly, but not dogmatically, to the tenants of the Agile Manifesto, Twelve Principles of Agile Software, and Five Values of Extreme Programming. We adapt our process to minimize ceremony and maximize communication, efficiency and happiness.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class=" box-with-humber">
            <h2 class="text-black">Pragmatic Idealism</h2>
            <p class="mb-4">
              We believe in continually evolving towards a set of ideals and dream of all the possibilities they can bring. Ideals define our long term strategies. Pragmatism defines our day-to-day tactics. Our ideals and business needs are constantly evolving and we adjust accordingly.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class=" box-with-humber">
            <h2 class="text-black">Problem Solving</h2>
            <p class="mb-4">
              We make practical (often boring) technology choices. We don’t build science projects just because we are smart enough to build them. New technologies should be chosen based on the merits of solving the problem at hand.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class=" box-with-humber">
            <h2 class="text-black">Communication</h2>
            <p class="mb-4">
              We believe that many problems can be addressed through better communication. We do not hoard information. We share our process and ideals freely and openly. We strive to be fearlessly transparent with ourselves, our team members, and our clients.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class=" box-with-humber">
            <h2 class="text-black">Courage</h2>
            <p class="mb-4">
              We have the courage to design/code for today; not tomorrow. We have the courage to throw away code that is obsolete. We have the courage to persist through complex problems. We have the courage to make architectural corrections. We have the courage to be transparent. We have the courage to simplify the code at every turn.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class=" box-with-humber">
            <h2 class="text-black">Humility</h2>
            <p class="mb-4">
              We check our egos at the door. A codebase is owned by all team members, from the best features, and most elegant implementations, to the worst bugs. We make mistakes sometimes, because we’re human, but rather than dwell on them we choose to fix and then learn from them.
            </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="padding-bottom: 30px;">
        <img class="callout__image" src="images/ev-group.svg" />
      </div>
    </div>
  </section>

  <section class="site-section border-bottom bg-light" id="services-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Our Services</h2>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-autorenew"></span></div>
            <div>
              <h3>Test Driven Development</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi
                at.</p>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-backspace"></span></div>
            <div>
              <h3>Pair Programming</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi
                at.</p>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-av_timer"></span></div>
            <div>
              <h3>Short Feedback Loops</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae
                eligendiat.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-beenhere"></span></div>
            <div>
              <h3>Iterative Processes</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi
                at.</p>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-business_center"></span></div>
            <div>
              <h3>Experimentation</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi
                at.</p>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
          <div class="unit-4 d-flex">
            <div class="unit-4-icon mr-4"><span class="text-primary icon-cloud_done"></span></div>
            <div>
              <h3>Senior Staff Augmentation</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi
                at.</p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Contact Us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 mb-5">
          <%= form_tag(class: "p-5 bg-white") do %>
            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="nameForm">Name</label>
                <input placeholder="Name" required name="name" id="nameForm" class="form-control">
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="emailForm">Email</label>
                <input type="email" placeholder="Email" required name="email" id="emailForm" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Message</label>
                <textarea placeholder="Personal message..." required name="message" id="messageForm" cols="30" rows="7" class="form-control"></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <%= invisible_recaptcha_tags text: "Send Message", class: "btn btn-primary btn-md text-white" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <%= render "layouts/footer" %>
</div>

<script src="external/javascripts/jquery_plugins/popper.min.js"></script>
<script src="external/javascripts/jquery_plugins/jquery.stellar.min.js"></script>
<script src="external/javascripts/jquery_plugins/jquery.countdown.min.js"></script>
<script src="external/javascripts/jquery_plugins/bootstrap-datepicker.min.js"></script>
<script src="external/javascripts/jquery_plugins/jquery.easing.1.3.js"></script>
<script src="external/javascripts/jquery_plugins/jquery.fancybox.min.js"></script>
<script src="external/javascripts/jquery_plugins/jquery.sticky.js"></script>
<script src="external/javascripts/aos_init.js"></script>
<script src="external/javascripts/main.js"></script>

</body>
</html>
