<div class="w3-container footer">
  <div class="w3-row">
    <div class="w3-col w3-center">
      <img class="footer__image" src="images/ev-logo-stacked.svg"/>
      <p>
        780 Magnolia Street
        <br/>
        Denver CO, 80220
      </p>
    </div>
  </div>
</div>
