<div class="w3-container nav">
  <div class="w3-row">
    <div class="w3-col l4">
      <a href="/#home">
        <img class="nav__logo" src="images/ev-logo-color.svg" alt="EarthVectors"/>
      </a>
    </div>
    <div class="w3-col l1">
      &nbsp;
    </div>
    <div class="w3-col l1">
      <div class="nav__menu">
        <a href="/#home" class="nav__item">About</a>
      </div>
    </div>
    <div class="w3-col l1">
      <div class="nav__menu">
        <a href="/#values" class="nav__item">Values</a>
      </div>
    </div>
    <div class="w3-col l1-1">
      <div class="nav__menu">
        <a href="/#contact" class="nav__item">Connect</a>
      </div>
    </div>
    <div>
      <div class="nav__menu">
<!--        <a href="/blogs" class="nav__item">Blog</a>-->
      </div>
    </div>
  </div>
</div>
